@use '../../assets/styles/var' as *;

body {
    padding-top: 100px;
}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    background-color: $background;
    padding-top: 50px;
}

.main-nav {
    display: grid;
}

.nav-title {}

.nav {}

.nav-item {}

.card-container {}

.other-topics-card {}

.words-table-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}