@use '../../assets/styles/var' as *;


.flash-card-container {
    width: 200px;
    border: 1px solid $borderColor;
    border-radius: 20px;
    background-color: #e0d8d8;
    padding-bottom: 10px;
}

.hidden {
    display: none;
}